html {
  font-size: 100%;
  
}

body {
  background: rgb(35,87,70);
  font: 18px/1.4 garamond, palatino, georgia, verdana, arial, sans-serif;
  color: #FFFFFF;
  
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
  
}


